<div id="wrapper">

    <!-- Sidebar -->
    <img src="assets/logo.jpg" style="border-radius: 50%; width: 150px; height: 150px;">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li >
                <a href="#">
                    Home
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
           
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>